* {
  margin: 0;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #161B22;
  color: aquamarine;
}

.input {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(207, 169, 169);
  background-color: transparent;
  border: 3px solid;
  padding: 0.25em 0.5em;
}
